{% extends 'base.html' %}
{% block content %}
<h2>Booking Confirmation</h2>
<form action="{% url 'home' %}" method="post">

    {% csrf_token %}
    <h2>Your booking has been confirmed!</h2>
    <h2>Thank you!</h2>
    <h3>Bill details</h3>
    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
        Bill details
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><b>Sacco name:</b> {{booking.sacco_name}}</li>
                        <li class="list-group-item"><b>Terminus :</b> {{booking.terminus}}</li>
                        <li class="list-group-item"><b>Route:</b> {{booking.route}}</li>
                        <li class="list-group-item"><b>Number of seats:</b> {{booking.nos}}</li>
                        <li class="list-group-item"><b> Fare_price:</b> {{booking.fare_price}}</li>
                        <li class="list-group-item"><b>Cost:</b> {{cost}}</li>
                        <li class="list-group-item"><b>Date:</b> {{booking.date}}</li>
                        <li class="list-group-item"><b>Time:</b> {{booking.time}}</li>
                    </ul>


                </div>

                <!-- Modal footer -->
                <div class="container">
                    <div class="row">
                        <div class="mpesa">
                             <a href="{% url 'test_stk_push_success' %}">Proceed to pay</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>

{% endblock %}