{% extends 'base.html' %}
{% block content %}
<!-- <div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <h2>Find mat</h2>
                <form action="{% url 'findmat' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-email-input class="col-2 col-form-label">Terminus</label>
                        <div class="col-10">
                            <input name='terminus' class="form-control" type="text" id="example-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Route</label>
                        <div class="col-10">
                            <input name='route' class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label" >Date</label>
                        <div class="col-10">
                            <input name='date' class="form-control" type="date">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-success float-right">Find mat</button>
                    </div>
                    {{error}}

                </form>
            </div>
        </div>

    </div>

 -->




    <!-- ***** Breadcrumb Area Start ***** -->
    <div class="breadcumb-area">
        <div class="container h-100">
            <div class="row h-100 align-items-end">
                <div class="col-12">
                    <div class="breadcumb--con">
                        <h2 class="title">Booking</h2>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Booking</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Breadcrumb Area End ***** -->


    <div class="container">
                            <!-- Booking -->
                            <div class="mona-contact-form">
                                <h2 class="mb-4">Booking</h2>

                                <!-- Form -->
                                <form action="{% url 'findmat' %}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="text" name="terminus" class="form-control mb-15"
                                                placeholder="Mombasa" id="example-email-input">
                                        </div>
                                        <div style="color: g;" class="col-lg-4">
                                            <input type="text" name="route" class="form-control mb-15"
                                                placeholder="Route">
                                        </div>
                                        

                                        


                                        <div class="col-lg-4">
                                            <input type="date" name="date" class="form-control mb-15">
                                        </div>
                                        <div class="col-lg-12">
                                            <form action="www.google.com" method="post">
                                                <input type="search" name="search" disabled class="form-control"
                                                    placeholder="Search ...">
                                                    <button style="border-radius: 0;" type="submit" class="btn mona-btn btn-2 mt-15">Find Matatu <i style="font-size: 15px;" class="fa fa-search"></i> </button>
                                            </form>
                                        </div>
                                        <div class="container" style="margin-top: 10px;"></div>
                                        <div class="col-12">
                                        </div>
                                    </div>
                                </form>

                            </div>
    </div>

    <!-- ***** Blog Details Area Start ***** -->
    <section class="blog-details-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class="blog-details-content mt-5 mb-80">
                        <!-- Post Details Text -->
                        <div class="post-details-text">
                            <img style="width: 400px;" src="./img/pngfind.com-volvo-bus-png-270653.png" alt="">

                            <div class="post-content mt-30 mb-30">
                                <h2>Biography</h2>
                                <div class="post-meta">
                                    <a href="#" class="post-author">by Management</a>
                                    <a href="#" class="post-view"><i class="fa fa-eye" aria-hidden="true"></i> 192</a>
                                    <a href="#" class="post-comments"><i class="fa fa-comments" aria-hidden="true"></i>
                                        08</a>
                                </div>
                            </div>

                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>

                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>

                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>

                            <!-- Blockquote -->
                            <blockquote class="mona-blockquote d-flex">
                                <div class="icon">
                                    <i class="icon_quotations" aria-hidden="true"></i>
                                </div>
                                <div class="text">
                                    <h5>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</h5>
                                    <h6>Lorem Ipsum</h6>
                                </div>
                            </blockquote>

                            <h2>Lorem Ipsum</h2>

                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt."</p>

                            <!-- Post Catagories & Post Share -->
                            <div class="d-flex align-items-center justify-content-between">
                                <!-- Post Catagories -->
                                <div class="post-catagories">
                                    <ul class="d-flex flex-wrap align-items-center">
                                        <li><a href="#">Pooler</a></li>
                                        <li><a href="#">Nganya</a></li>
                                    </ul>
                                </div>

                                <!-- Post Share -->
                                <div class="mona-post-share d-flex align-items-center">
                                    <h6 class="mb-0 mr-3">Share:</h6>
                                    <div class="social-info-">
                                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>

                          
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="sidebar-area mt-5">

                        <!-- Single Widget Area -->
                        <div class="single-widget-area search-widget-area mb-80">
                            <form action="#" method="post">
                                <input type="search" name="search" class="form-control" placeholder="Search ...">
                                <button type="submit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area catagories-widget mb-80">
                            <h5 class="widget-title">Lorem Sacco</h5>

                            <!-- catagories list -->
                            <ul class="catagories-list">
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sacco A</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sacco B</a>
                                </li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sacco C</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sacco D</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sacco E</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right" aria-hidden="true"></i>Sacco F</a></li>
                            </ul>
                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area news-widget mb-80">
                            <h5 class="widget-title">Nganya Blogs</h5>

                            <!-- Single News Area -->
                            <div class="single-news-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="./img/bg-img/44.jpg" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">"Lorem ipsum dolor sit amet, sed do ut labore et dolore magna aliqua.</a>
                                    <span class="post-date">30 Aug 2018</span>
                                </div>
                            </div>

                            <!-- Single News Area -->
                            <div class="single-news-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="./img/bg-img/45.jpg" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">"Lorem ipsum dolor sit amet, sed do ut labore et dolore magna aliqua.</a>
                                    <span class="post-date">30 Aug 2018</span>
                                </div>
                            </div>

                            <!-- Single News Area -->
                            <div class="single-news-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="./img/bg-img/46.jpg" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">"Lorem ipsum dolor sit amet, sed do ut labore et dolore magna aliqua.</a>
                                    <span class="post-date">30 Aug 2018</span>
                                </div>
                            </div>

                            <!-- Single News Area -->
                            <div class="single-news-area d-flex">
                                <div class="blog-thumbnail">
                                    <img src="./img/bg-img/47.jpg" alt="">
                                </div>
                                <div class="blog-content">
                                    <a href="#" class="post-title">"Lorem ipsum dolor sit amet, sed do ut labore et dolore magna aliqua.</a>
                                    <span class="post-date">30 Aug 2018</span>
                                </div>
                            </div>

                        </div>

                        <!-- Single Widget Area -->
                        <div class="single-widget-area adds-widget mb-80">
                            <a href="#"><img class="w-100" src="./img/bg-img/banner.png" alt=""></a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog Details Area End ***** -->

    <!-- ***** Footer Area Start ***** -->
    <footer class="footer-area section-padding-80-0">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Logo -->
                        <a href="#" class="d-block mb-4"><img style="width: 90px;" src="./img/core-img/pngLogo.png"
                                alt=""></a>
                        <p>Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante
                            sit amet ante.</p>
                        <div class="copywrite-text">
                            <p>&copy;
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script> All rights reserved | <i class="fa fa-heart-o"
                                    aria-hidden="true"></i> by <a href="https://herokuapp.com"
                                    target="_blank">Nganya</a>
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Our Links</h4>

                        <!-- Catagories Nav -->
                        <nav>
                            <ul class="our-link">
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                                <li><a href="#">Lorem Ipsum</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-lg-4 col-xl-3">
                    <div class="single-footer-widget mb-60">
                        <!-- Widget Title -->
                        <h4 class="widget-title">Contact</h4>
                        <!-- Footer Content -->
                        <div class="footer-content mb-30">
                            <h4>+254-8888-6868</h4>
                            <h6>40 Ke Street 133/2 Nairobi City</h6>
                        </div>
                        <!-- Social Info -->
                        <div class="footer-social-info">
                            <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                    class="fa fa-facebook"></i></a>
                            <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                    class="fa fa-twitter"></i></a>
                            <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top"
                                title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            <a href="#" class="instagram" data-toggle="tooltip" data-placement="top"
                                title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i
                                    class="fa fa-youtube-play"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </footer>
    <!-- ***** Footer Area End ***** -->








{% endblock %}