{% extends "base.html" %}
{% block content %}

<!-- Preloader -->
<div id="preloader">
  <div class="wrapper">
    <div class="cssload-loader"></div>
  </div>
</div>




<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area">
  <!-- Welcome Slides -->
  <div class="welcome-slides owl-carousel">

    <!-- Single Welcome Slide -->
    <div class="single-welcome-slide">
      <!-- Background Curve -->
      <div class="bg-curve" style="background-image: url(../../static/img/core-img/curve.png);"></div>
      <!-- Main Background Image -->
      <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms"
        style="background-image: url(../../static/img/core-img/pngfind.com-tour-bus-png-6245904.png);background-size: contain;"></div>
      <!-- Welcome Text -->
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome-text">
              <h2 data-animation="bounceInUp" data-delay="400ms">Super <br>
                Metro</h2>
              <h5 data-animation="bounceInUp" data-delay="600ms">Hopscotch Sacco</h5>
              <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i
                  class="arrow_right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Social Info -->
      <div class="social-info">
        <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i>
          <span>Facebook</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i>
          <span>Twitter</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i>
          <span>Instagram</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i>
          <span>Youtube</span></a>
      </div>

      <!-- Pager -->
      <div class="slide-pager">
        <a href="#">Next: Embass</a>
      </div>

    </div>

    <!-- Single Welcome Slide -->
    <div class="single-welcome-slide">
      <!-- Background Curve -->
      <div class="bg-curve" style="background-image: url(../../static/img/core-img/curve.png);"></div>
      <!-- Main Background Image -->
      <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms"
        style="background-image: url(../../static/img/core-img/loop2.png);background-size: contain;">
      </div>
      <!-- Welcome Text -->
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome-text">
              <h2 data-animation="bounceInUp" data-delay="400ms">City <br>
                Hoppa</h2>
              <h5 data-animation="bounceInUp" data-delay="600ms">Embassava Sacco</h5>
              <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i
                  class="arrow_right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Social Info -->
      <div class="social-info">
        <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i>
          <span>Facebook</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i>
          <span>Twitter</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i>
          <span>Instagram</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i>
          <span>Youtube</span></a>
      </div>
      <!-- Pager -->
      <div class="slide-pager">
        <a href="#">Next: Isiolo Sacco</a>
      </div>
    </div>



    <!-- Single Welcome Slide -->
    <div class="single-welcome-slide">
      <!-- Background Curve -->
      <div class="bg-curve" style="background-image: url(../../static/img/core-img/curve.png);"></div>
      <!-- Main Background Image -->
      <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms"
        style="background-image: url(../../static/img/core-img/loop1.png);background-size: contain;"></div>
      <!-- Welcome Text -->
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome-text">
              <h2 data-animation="bounceInUp" data-delay="400ms">Zam <br>
                Zam</h2>
              <h5 data-animation="bounceInUp" data-delay="600ms">Isiolo Sacco</h5>
              <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i
                  class="arrow_right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Social Info -->
      <div class="social-info">
        <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i>
          <span>Facebook</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i>
          <span>Twitter</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i>
          <span>Instagram</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i>
          <span>Youtube</span></a>
      </div>
      <!-- Pager -->
      <div class="slide-pager">
        <a href="#">Next: Mwiki Sacco</a>
      </div>
    </div>


    <!-- Single Welcome Slide -->
    <div class="single-welcome-slide">
      <!-- Background Curve -->
      <div class="bg-curve" style="background-image: url(../../static/img/core-img/curve.png);"></div>
      <!-- Main Background Image -->
      <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms"
        style="background-image: url(../../static/img/core-img/loop3.png);background-size: contain;"></div>
      <!-- Welcome Text -->
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome-text">
              <h2 data-animation="bounceInUp" data-delay="400ms">Lopha <br>
                Travellers</h2>
              <h5 data-animation="bounceInUp" data-delay="600ms">Mwiki Sacco</h5>
              <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i
                  class="arrow_right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Social Info -->
      <div class="social-info">
        <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i>
          <span>Facebook</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i>
          <span>Twitter</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i>
          <span>Instagram</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i>
          <span>Youtube</span></a>
      </div>
      <!-- Pager -->
      <div class="slide-pager">
        <a href="#">Next: Eastleigh Sacco</a>
      </div>
    </div>

    <!-- Single Welcome Slide -->
    <div class="single-welcome-slide">
      <!-- Background Curve -->
      <div class="bg-curve" style="background-image: url(../../static/img/core-img/curve.png);"></div>
      <!-- Main Background Image -->
      <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms"
        style="background-image: url(../../static/img/pngfind.com-volvo-bus-png-270653.png);background-size: contain;">
      </div>
      <!-- Welcome Text -->
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome-text">
              <h2 data-animation="bounceInUp" data-delay="400ms">Eastleigh <br>
                Travellers</h2>
              <h5 data-animation="bounceInUp" data-delay="600ms">Eastleigh Sacco</h5>
              <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i
                  class="arrow_right"></i></a>
            </div>
          </div>
        </div>
      </div>
      <!-- Social Info -->
      <div class="social-info">
        <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i>
          <span>Facebook</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i>
          <span>Twitter</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i>
          <span>Instagram</span></a>
        <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i>
          <span>Youtube</span></a>
      </div>
      <!-- Pager -->
      <div class="slide-pager">
        <a href="#">Next: Embass Sacco</a>
      </div>
    </div>

  </div>
</section>
<!-- ***** Welcome Area End ***** -->

<!-- ***** About Us Area Start ***** -->
<section class="mona-about-us-area mb-30 section-padding-80-0">
  <div class="container">
    <div class="row">

      <!-- About Us Thumbnail -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="100ms">
          <span class="line"></span>
          <img src="../../static/img/bg-img/16.jpg" alt="">
          <span class="line2"></span>
        </div>
      </div>

      <!-- About Us Thumbnail -->
      <div class="col-12 col-sm-6 col-lg-4">
        <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="400ms">
          <span class="line"></span>
          <img src="../../static/img/bg-img/taxidup.gif" alt="">
          <span class="line2"></span>
        </div>
      </div>

      <!-- About Us Content -->
      <div class="col-12 col-lg-4">
        <div class="about-us-content mb-50 wow fadeInUp" data-wow-delay="700ms">
          <h2>Get Your Ride At Click</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et
            dolore magna.</p>
          <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem
            ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr.</p>
        </div>
      </div>
    </div>
  </div>

  

{% endblock content %}