{% extends 'base.html' %}
{% block content %}










<!-- ***** Breadcrumb Area Start ***** -->
<div class="breadcumb-area">
    <div class="container h-100">
        <div class="row h-100 align-items-end">
            <div class="col-12">
                <div class="breadcumb--con">
                    <h2 class="title">Booking</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Select Mat</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Breadcrumb Area End ***** -->



<div class="container">
    <h3 style="margin-top: 40px;">{{msg}}</h3>
    <h2> HERE'S AVAILABLE MATATU FOR BOOKING</h2>
    <table class="table table-striped">
        <thead style="background-color: rgb(0, 0, 0);color: white;">
            <td>ID</td>
            <td>MATATU NAME</td>
            <td>TERMINUS</td>
            <td>ROUTE</td>
            <td>TOTAL SEATS</td>
            <td>AVAILABLE SEATS</td>
            <td>FARE</td>
            <td>DATE</td>
            <td>TIME</td>

        </thead>

        {% for row in mat_list %}
        <tr>
            <td>{{row.id }}</td>
            <td>{{row.sacco_name}}</td>
            <td>{{row.terminus}}</td>
            <td>{{row.route}}</td>
            <td>{{row.nos}}</td>
            <td>{{row.rem}}</td>
            <td>{{row.fare_price}}</td>
            <td>{{row.date}}</td>
            <td>{{row.time}}</td>

        </tr>
        {% endfor %}
    </table>


</div>





<!-- ***** Login Form Area Start ***** -->
<section class="mona-casting-form-area section-padding-80-0">
    <div class="container">
        <div class="row align-items-center justify-content-between">


            <!-- Login Form -->
            <div class="col-12 col-lg-6 col-xl-5">
                <div class="casting-form mona-contact-form mb-80">
                    <div class="contact-heading">
                        <h2>Select Mat</h2>
                    </div>

                    <form action="{% url 'bookings' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label class="text-dark" for="example-email-input">Mat Id:</label>
                            <input name='mat_id' class="form-control" type="number" id="example-email-input" required>
                        </div>
                        <div class="form-group">
                            <label class="text-dark" for="example-email-input">Number of Seats:</label>
                            <input name='no_seats' class="form-control" type="number" required>
                        </div>
                        <button style="border-radius: 0;" class="btn mona-btn btn-2 mt-15">Book</button>

                        {{error}}

                    </form>
                </div>
            </div>



            <div class="col-lg-6">
                <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="100ms">

                    <div id="jquery-script-menu">
                        <div class="jquery-script-center">
                        <ul>
                        <li><a href="http://www.jqueryscript.net/chart-graph/Full-featured-Seating-Chart-Plugin-With-jQuery-Seat-Charts.html">Download This Plugin</a></li>
                        <li><a href="http://www.jqueryscript.net/">Back To jQueryScript.Net</a></li>
                        </ul>
                        <div class="jquery-script-ads"><script type="text/javascript">
                        google_ad_client = "ca-pub-2783044520727903";
                        /* jQuery_demo */
                        google_ad_slot = "2780937993";
                        google_ad_width = 728;
                        google_ad_height = 90;
                        //
                        </script>
                        <script type="text/javascript"
                        src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script></div>
                        <div class="jquery-script-clear"></div>
                        </div>
                        </div>
                        <div class="wrapper">
                          <div class="container">
                          <h1>jQuery Seat Charts Plugin Demo</h1>
                            <div id="seat-map">
                              <div class="front-indicator">Front</div>
                            </div>
                            <div class="booking-details">
                              <h2>Booking Details</h2>
                              <h3> Selected Seats (<span id="counter">0</span>):</h3>
                              <ul id="selected-seats">
                              </ul>
                              Total: <b>$<span id="total">0</span></b>
                              <button class="checkout-button">Checkout &raquo;</button>
                              <div id="legend"></div>
                            </div>
                          </div>
                        </div>
                        <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script> 
                        <script src="../../static/js/jquery.seat-charts.js"></script> 
                        <script>
                                    var firstSeatLabel = 1;
                                
                                    $(document).ready(function() {
                                        var $cart = $('#selected-seats'),
                                            $counter = $('#counter'),
                                            $total = $('#total'),
                                            sc = $('#seat-map').seatCharts({
                                            map: [
                                                'ff_ff',
                                                'ff_ff',
                                                'ee_ee',
                                                'ee_ee',
                                                'ee___',
                                                'ee_ee',
                                                'ee_ee',
                                                'ee_ee',
                                                'eeeee',
                                            ],
                                            seats: {
                                                f: {
                                                    price   : 100,
                                                    classes : 'first-class', //your custom CSS class
                                                    category: 'First Class'
                                                },
                                                e: {
                                                    price   : 40,
                                                    classes : 'economy-class', //your custom CSS class
                                                    category: 'Economy Class'
                                                }					
                                            
                                            },
                                            naming : {
                                                top : false,
                                                getLabel : function (character, row, column) {
                                                    return firstSeatLabel++;
                                                },
                                            },
                                            legend : {
                                                node : $('#legend'),
                                                items : [
                                                    [ 'f', 'available',   'First Class' ],
                                                    [ 'e', 'available',   'Economy Class'],
                                                    [ 'f', 'unavailable', 'Already Booked']
                                                ]					
                                            },
                                            click: function () {
                                                if (this.status() == 'available') {
                                                    //let's create a new <li> which we'll add to the cart items
                                                    $('<li>'+this.data().category+' Seat # '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
                                                        .attr('id', 'cart-item-'+this.settings.id)
                                                        .data('seatId', this.settings.id)
                                                        .appendTo($cart);
                                                    
                                                    /*
                                                     * Lets update the counter and total
                                                     *
                                                     * .find function will not find the current seat, because it will change its stauts only after return
                                                     * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
                                                     */
                                                    $counter.text(sc.find('selected').length+1);
                                                    $total.text(recalculateTotal(sc)+this.data().price);
                                                    
                                                    return 'selected';
                                                } else if (this.status() == 'selected') {
                                                    //update the counter
                                                    $counter.text(sc.find('selected').length-1);
                                                    //and total
                                                    $total.text(recalculateTotal(sc)-this.data().price);
                                                
                                                    //remove the item from our cart
                                                    $('#cart-item-'+this.settings.id).remove();
                                                
                                                    //seat has been vacated
                                                    return 'available';
                                                } else if (this.status() == 'unavailable') {
                                                    //seat has been already booked
                                                    return 'unavailable';
                                                } else {
                                                    return this.style();
                                                }
                                            }
                                        });
                        
                                        //this will handle "[cancel]" link clicks
                                        $('#selected-seats').on('click', '.cancel-cart-item', function () {
                                            //let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
                                            sc.get($(this).parents('li:first').data('seatId')).click();
                                        });
                        
                                        //let's pretend some seats have already been booked
                                        sc.get(['1_2', '4_1', '7_1', '7_2']).status('unavailable');
                                
                                });
                        
                                function recalculateTotal(sc) {
                                    var total = 0;
                                
                                    //basically find every selected seat and sum its price
                                    sc.find('selected').each(function () {
                                        total += this.data().price;
                                    });
                                    
                                    return total;
                                }
                                
                                </script><script type="text/javascript">
                        
                          var _gaq = _gaq || [];
                          _gaq.push(['_setAccount', 'UA-36251023-1']);
                          _gaq.push(['_setDomainName', 'jqueryscript.net']);
                          _gaq.push(['_trackPageview']);
                        
                          (function() {
                            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                          })();
                        
                        </script>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- ***** Casting Form Area End ***** -->

<!-- ***** Footer Area Start ***** -->
<footer class="footer-area section-padding-80-0">
    <div class="container">
        <div class="row justify-content-between">

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Logo -->
                    <a href="#" class="d-block mb-4"><img style="width: 130px;" src="./img/core-img/pngLogo.png"
                            alt=""></a>
                    <p>Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante sit
                        amet ante.</p>
                    <div class="copywrite-text">
                        <p>&copy;
                            Copyright &copy;<script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved<i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://herouapp.com" target="_blank">Nganya</a>
                    </div>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Our Links</h4>

                    <!-- Catagories Nav -->
                    <nav>
                        <ul class="our-link">
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                            <li><a href="#">Lorem Ipsum</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <!-- Single Footer Widget -->
            <div class="col-12 col-lg-4 col-xl-3">
                <div class="single-footer-widget mb-60">
                    <!-- Widget Title -->
                    <h4 class="widget-title">Contact</h4>
                    <!-- Footer Content -->
                    <div class="footer-content mb-30">
                        <h4>+254-8888-6868</h4>
                        <h6>40 Ke Street 133/2 Nairobi City</h6>
                    </div>
                    <!-- Social Info -->
                    <div class="footer-social-info">
                        <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i
                                class="fa fa-facebook"></i></a>
                        <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i
                                class="fa fa-twitter"></i></a>
                        <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i
                                class="fa fa-pinterest"></i></a>
                        <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i
                                class="fa fa-instagram"></i></a>
                        <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i
                                class="fa fa-youtube-play"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</footer>
<!-- ***** Footer Area End ***** -->








{% endblock %}