{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}



 <!-- Preloader -->
 <div id="preloader">
    <div class="wrapper">
      <div class="cssload-loader"></div>
    </div>
  </div>

  

  <!-- ***** Top Search Area Start ***** -->
  <div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Close Button -->
            <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <!-- Form -->
            <form action="index.html" method="post">
              <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Top Search Area End ***** -->

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area">
    <div class="container h-100">
      <div class="row h-100 align-items-end">
        <div class="col-12">
          <div class="breadcumb--con">
            <h2 class="title">SIGN UP</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Sign Up</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Casting Form Area Start ***** -->
  <section class="mona-casting-form-area section-padding-80-0">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <!-- Casting Form Thumbnail -->
        <!-- <div class="col-12 col-lg-6 col-xl-6">
          <div class="casting-form-thumbnail mb-80">
            <img src="./img/bg-img/30.jpg" alt="">
          </div>
        </div> -->

        <div class="col-lg-6">
          <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="100ms">
            <div class="post-thumbnail slide-post owl-carousel">
                <a href="#"><img src="../../../static/img/pngfind.com-volvo-bus-png-270653.png" alt=""></a>
                <a href="#"><img src="../../../static/img/pngfind.com-van-png-1709927.png" alt=""></a>
                <a href="#"><img style="width: 300px;" src="../../../static/img/logo.png" alt=""></a>
            </div>
          </div>
        </div>

        <!-- Casting Form -->
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="casting-form mona-contact-form mb-80">
            <div class="contact-heading">
              <h2>Sign Up</h2>
            </div>

                <form class="signup" id="signup_form" action="{% url 'account_signup' %}" method="post" novalidate>
                    <div class="form-group">
                        {% csrf_token%}
                        {{ form|crispy}}
                    </div>
                    <!-- <button type="submit" class="btn btn-dark btn-sm hoverable"> Register</button> -->
                    {% if redirect_field_value %}
                    <input required type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button style="border-radius: 0;" class="btn mona-btn btn-2 mt-15"
                        type="submit">{% trans "Sign Up" %} &raquo;</button>
                        <label class="text-right" for="signup">Have an account? <a href="{% url 'login' %}">Login</a></label>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Casting Form Area End ***** -->




{% endblock %}