  <!-- Preloader -->
  <div id="preloader">
    <div class="wrapper">
      <div class="cssload-loader"></div>
    </div>
  </div>

    <!-- ***** Header Area Start ***** -->
    <header class="header-area">
      <!-- Main Header Start -->
      <div class="main-header-area">
        <div class="classy-nav-container breakpoint-off">
          <!-- Classy Menu -->
          <nav class="classy-navbar justify-content-between" id="monaNav">
  
            <!-- Background Curve -->
            <div class="bg-curve" style="background-image: url(./img/core-img/curve.png);"></div>
  
            <!-- Logo -->
            <a class="nav-brand" href="index.html"><img style="width: 80px;" src="./img/core-img/logo.png" alt=""></a>
  
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
              <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
  
            <!-- Menu -->
            <div class="classy-menu">
              <!-- Menu Close Button -->
              <div class="classycloseIcon">
                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
              </div>
  
              <!-- Nav Start -->
              <div class="classynav">
                <ul id="nav">
                  <li class="current-item"><a href="./index.html">Home</a></li>
                  <li><a href="./booking.html">Booking</a></li>
                  <li><a href="./contact.html">Contact Us</a></li>
                  <li><a href="#">Account</a>
                    <ul class="dropdown">
                      <li><a href="./blog.html">- Account Details</a></li>
                      <li><a href="./single-blog.html">- Edit Profile</a></li>
                    </ul>
                  </li>
                  <li><a href="./contact.html">Login</a></li>
                </ul>
  
                <!-- Search Icon -->
                <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                  <i class="icon_search"></i>
                </div>
              </div>
              <!-- Nav End -->
  
            </div>
          </nav>
        </div>
      </div>
    </header>
    <!-- ***** Header Area End ***** -->

  <!-- ***** Top Search Area Start ***** -->
  <div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Close Button -->
            <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <!-- Form -->
            <form action="index.html" method="post">
              <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Top Search Area End ***** -->

  <!-- ***** Breadcrumb Area Start ***** -->
  <div class="breadcumb-area">
    <div class="container h-100">
      <div class="row h-100 align-items-end">
        <div class="col-12">
          <div class="breadcumb--con">
            <h2 class="title">LOGIN</h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Login</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Breadcrumb Area End ***** -->

  <!-- ***** Login Form Area Start ***** -->
  <section class="mona-casting-form-area section-padding-80-0">
    <div class="container">
      <div class="row align-items-center justify-content-between">

        <!-- Casting Form Thumbnail -->
        <!-- <div class="col-12 col-lg-6 col-xl-6">
          <div class="casting-form-thumbnail mb-80">
            <img src="./img/bg-img/30.jpg" alt="">
          </div>
        </div> -->

        <div class="col-lg-6">
          <div class="single-blog-post mb-30 wow fadeInUp" data-wow-delay="100ms">
            <div class="post-thumbnail slide-post owl-carousel">
              <a href="#"><img style="width: 300px;" src="./img/logo.png" alt=""></a>
              <a href="#"><img src="./img/pngfind.com-van-png-1709927.png" alt=""></a>
              <a href="#"><img src="./img/pngfind.com-volvo-bus-png-270653.png" alt=""></a>
            </div>
          </div>
        </div>

        <!-- Login Form -->
        <div class="col-12 col-lg-6 col-xl-5">
          <div class="casting-form mona-contact-form mb-80">
            <div class="contact-heading">
              <h2>Login</h2>
            </div>

            <form action="#" method="post">
              <div class="form-group">
                <label for="fullName">Name:</label>
                <input type="text" class="form-control" name="full-name" id="fullName">
              </div>
              <div class="form-group">
                <label for="emailId">Password:</label>
                <input type="email" class="form-control" name="email" id="emailId">
              </div>
              <button style="border-radius: 0;" class="btn mona-btn btn-2 mt-15">Login</button>
            </form><br><br>
            <label class="text-right" for="signup">Don't have an account? <a href="./signup.html">Sign Up</a></label>
          </div>
        </div>

      </div>
    </div>
  </section>
  <!-- ***** Casting Form Area End ***** -->

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
            <!-- Logo -->
            <a href="#" class="d-block mb-4"><img style="width: 130px;" src="./img/core-img/pngLogo.png" alt=""></a>
            <p>Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante sit amet ante.</p>
            <div class="copywrite-text">
              <p>&copy; 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://herouapp.com" target="_blank">Nganya</a>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
            <!-- Widget Title -->
            <h4 class="widget-title">Our Links</h4>

            <!-- Catagories Nav -->
            <nav>
              <ul class="our-link">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
            <!-- Widget Title -->
            <h4 class="widget-title">Contact</h4>
            <!-- Footer Content -->
            <div class="footer-content mb-30">
              <h4>+254-8888-6868</h4>
              <h6>40 Ke Street 133/2 Nairobi City</h6>
            </div>
            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->