  <!-- Preloader -->
  <div id="preloader">
    <div class="wrapper">
      <div class="cssload-loader"></div>
    </div>
  </div>

  <!-- ***** Header Area Start ***** -->
  <header class="header-area">
    <!-- Main Header Start -->
    <div class="main-header-area">
      <div class="classy-nav-container breakpoint-off">
        <!-- Classy Menu -->
        <nav class="classy-navbar justify-content-between" id="monaNav">

          <!-- Background Curve -->
          <div class="bg-curve" style="background-image: url(assets/img/core-img/curve.png);"></div>

          <!-- Logo -->
          <a class="nav-brand" href="index.html"><img style="width: 80px;" src="assets/img/core-img/logo.png" alt=""></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"><span></span><span></span><span></span></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Menu Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul id="nav">
                <li class="current-item"><a href="./index.html">Home</a></li>
                <li><a href="./booking.html">Booking</a></li>
                <li><a href="./contact.html">Contact Us</a></li>
                <li><a href="#">Account</a>
                  <ul class="dropdown">
                    <li><a href="./blog.html">- Account Details</a></li>
                    <li><a href="./single-blog.html">- Edit Profile</a></li>
                  </ul>
                </li>
                <li><a href="./login.html">Login</a></li>
              </ul>

              <!-- Search Icon -->
              <div class="search-icon" data-toggle="modal" data-target="#searchModal">
                <i class="icon_search"></i>
              </div>
            </div>
            <!-- Nav End -->

          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Top Search Area Start ***** -->
  <div class="top-search-area">
    <!-- Search Modal -->
    <div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <!-- Close Button -->
            <button type="button" class="btn close-btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
            <!-- Form -->
            <form action="index.html" method="post">
              <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
              <button type="submit">Search</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Top Search Area End ***** -->

  <!-- ***** Welcome Area Start ***** -->
  <section class="welcome-area">
    <!-- Welcome Slides -->
    <div class="welcome-slides owl-carousel">

      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url(assets/img/core-img/curve.png);"></div>
        <!-- Main Background Image -->
        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url(assets/img/core-img/loop2.png);background-size: contain;"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h2 data-animation="bounceInUp" data-delay="400ms">Lorem <br>
                  Ipsum</h2>
                <h5 data-animation="bounceInUp" data-delay="600ms">Lorem Sacco</h5>
                <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i class="arrow_right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Social Info -->
        <div class="social-info">
          <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i> <span>Youtube</span></a>
        </div>
        <!-- Pager -->
        <div class="slide-pager">
          <a href="#">Next: Lorem Ipsum</a>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url(assets/img/core-img/curve.png);"></div>
        <!-- Main Background Image -->
        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url(assets/img/core-img/pngfind.com-tour-bus-png-6245904.png);background-size: contain;"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h2 data-animation="bounceInUp" data-delay="400ms">Lorem <br>
                  Ipsum</h2>
                <h5 data-animation="bounceInUp" data-delay="600ms">Lorem Sacco</h5>
                <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i class="arrow_right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Social Info -->
        <div class="social-info">
          <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i> <span>Youtube</span></a>
        </div>
        <!-- Pager -->
        <div class="slide-pager">
          <a href="#">Next: Lorem Ipsum</a>
        </div>
      </div>



      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url(assets/img/core-img/curve.png);"></div>
        <!-- Main Background Image -->
        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url(./img/core-img/loop1.png);background-size: contain;"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h2 data-animation="bounceInUp" data-delay="400ms">Lorem <br>
                  Ipsum</h2>
                <h5 data-animation="bounceInUp" data-delay="600ms">Lorem Sacco</h5>
                <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i class="arrow_right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Social Info -->
        <div class="social-info">
          <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i> <span>Youtube</span></a>
        </div>
        <!-- Pager -->
        <div class="slide-pager">
          <a href="#">Next: Lorem Ipsum</a>
        </div>
      </div>


      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url(assets/img/core-img/curve.png);"></div>
        <!-- Main Background Image -->
        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url(assets/img/core-img/loop3.png);background-size: contain;"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h2 data-animation="bounceInUp" data-delay="400ms">Lorem <br>
                  Ipsum</h2>
                <h5 data-animation="bounceInUp" data-delay="600ms">Lorem Sacco</h5>
                <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i class="arrow_right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Social Info -->
        <div class="social-info">
          <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i> <span>Youtube</span></a>
        </div>
        <!-- Pager -->
        <div class="slide-pager">
          <a href="#">Next: Lorem Ipsum</a>
        </div>
      </div>

      <!-- Single Welcome Slide -->
      <div class="single-welcome-slide">
        <!-- Background Curve -->
        <div class="bg-curve" style="background-image: url(assets/img/core-img/curve.png);"></div>
        <!-- Main Background Image -->
        <div class="main-bg-img bg-img" data-animation="fadeInUpBig" data-delay="200ms" style="background-image: url(assets/img/pngfind.com-volvo-bus-png-270653.png);background-size: contain;"></div>
        <!-- Welcome Text -->
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="welcome-text">
                <h2 data-animation="bounceInUp" data-delay="400ms">Lorem <br>
                  Ipsum</h2>
                <h5 data-animation="bounceInUp" data-delay="600ms">Lorem Sacco</h5>
                <a href="#" class="btn" data-animation="bounceInUp" data-delay="800ms">Sacco details <i class="arrow_right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <!-- Social Info -->
        <div class="social-info">
          <a href="#" data-animation="bounceInDown" data-delay="1000ms"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1100ms"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1200ms"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
          <a href="#" data-animation="bounceInDown" data-delay="1300ms"><i class="fa fa-youtube-play"></i> <span>Youtube</span></a>
        </div>
        <!-- Pager -->
        <div class="slide-pager">
          <a href="#">Next: Lorem Ipsum</a>
        </div>
      </div>

    </div>
  </section>
  <!-- ***** Welcome Area End ***** -->

  <!-- ***** About Us Area Start ***** -->
  <section class="mona-about-us-area mb-30 section-padding-80-0">
    <div class="container">
      <div class="row">

        <!-- About Us Thumbnail -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="100ms">
            <span class="line"></span>
            <img src="assets/img/bg-img/16.jpg" alt="">
            <span class="line2"></span>
          </div>
        </div>

        <!-- About Us Thumbnail -->
        <div class="col-12 col-sm-6 col-lg-4">
          <div class="about-us-thumbnail mb-50 wow fadeInUp" data-wow-delay="400ms">
            <span class="line"></span>
            <img src="assets/img/bg-img/17.jpg" alt="">
            <span class="line2"></span>
          </div>
        </div>

        <!-- About Us Content -->
        <div class="col-12 col-lg-4">
          <div class="about-us-content mb-50 wow fadeInUp" data-wow-delay="700ms">
            <h2>Get Your Ride At Click</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing esed diam nonumy eirmod tempor invidunt ut labore et dolore magna.</p>
            <p>At vero eos et accusam et justo duo dolores et ea rebum. Stet gubergren no sea takimata sanctus est Lorem ipsum dolor sit amet ipsumlor eut consetetur sadipscing elitr.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Service Area -->
    <div class="container">
      <div class="service-area mt-80">
        <div class="row">

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
              <i class="icon_film"></i>
              <h5>Nganya Awards</h5>
              <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
              <i class="icon_calendar"></i>
              <h5>Special Events</h5>
              <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
              <i class="icon_camera_alt"></i>
              <h5>Commercial Mat Photo</h5>
              <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

          <!-- Single Service Area -->
          <div class="col-12 col-sm-6 col-lg-3">
            <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
              <i class="icon_house_alt"></i>
              <h5>Mat Pooler</h5>
              <p>At vero eos et accusam et justo duo dolores et ea rebum.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Us Area End ***** -->



  

  <!-- ***** Footer Area Start ***** -->
  <footer class="footer-area section-padding-80-0">
    <div class="container">
      <div class="row justify-content-between">

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
            <!-- Logo -->
            <a href="#" class="d-block mb-4"><img style="width: 90px;" src="assets/img/core-img/logo.png" alt=""></a>
            <p>Integer vehicula mauris libero, at molestie eros imperdiet sit amet. Suspendisse mattis ante sit amet ante.</p>
            <div class="copywrite-text">
              <p>&copy; 
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved<i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://herokuapp.com" target="_blank">Nganya</a>
            </div>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
            <!-- Widget Title -->
            <h4 class="widget-title">Our Links</h4>

            <!-- Catagories Nav -->
            <nav>
              <ul class="our-link">
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
                <li><a href="#">Lorem Ipsum</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-lg-4 col-xl-3">
          <div class="single-footer-widget mb-60">
            <!-- Widget Title -->
            <h4 class="widget-title">Contact</h4>
            <!-- Footer Content -->
            <div class="footer-content mb-30">
              <h4>+254-8888-6868</h4>
              <h6>40 Ke Street 133/2 Nairobi City</h6>
            </div>
            <!-- Social Info -->
            <div class="footer-social-info">
              <a href="#" class="facebook" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="pinterest" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a>
              <a href="#" class="instagram" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="youtube" data-toggle="tooltip" data-placement="top" title="YouTube"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <!-- ***** Footer Area End ***** -->